.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.card-title {
  font-size: 4.6vh;
  padding: 30px;
}
.card-title-big {
  font-size: 7vh;
  padding: 30px;
}

.card-text {
  font-size: 3vh;
  padding: 10px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 100%;
}
.card-text-small {
  font-size: 3vh;
  padding: 10px;
  padding-bottom: 70px;
  margin: 0 auto;
  width: 100%;
  max-width: 50%;
}

.card-image{
  width: 30vh;
  height: auto;
}

.card-text-background {
  font-size: 3vh;
  background: lightgray;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 70px;
  margin: 0 auto;
  width: 100%;
  max-width: 50%;
  height: 30vh;
}